@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  font-family: "Nunito", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #f5f5f5;
}

.nav-logo-img {
  width: 100px;
  height: 100px;
}

.nav-items-right {
  width: 275px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links:hover {
  color: #2A9D8F;
}

.nav-links {
  text-decoration: underline;
  color: #000000;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #2A9D8F;
  padding-top: 90px;
  position: static;
}

.section-title {
  display: flex;
  padding: 80px 0 0 0;
  color: #264653;
  align-items: flex-start;
}

form {
  width: 550px;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #264653;
}

.main-info {
  width: 65%;
}

.info-block {
  background-color: #F8F9FA;
  width: 250px;
  text-align: center;
}

.personal-info-box {
  display: flex;
  justify-content: space-around;
}

.personal-info-box-title {
  font-weight: bold;
  font-size: 16px;
}

.personal-info-box-detail {
  font-size: 14px;
}

.info-and-block {
  display: flex;
  justify-content: space-around;
}

#info-image {
  width: 230px;
}

.title-section-box {
  background-color: #2A9D8F;
  margin: 10px;
  padding: 3px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 175px;
  background-color: #2A9D8F;
  margin-top: 20px;
}

.form-item {
  display: flex;
  flex-direction: column;
}

.input-label {
  border-radius: 15px;
}

.form-item-button {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 50px;
  padding: 10px;
  align-items: center;
  background-color: #E9C46A;
  font-weight: 600;
  border-radius: 10px;
}

.button-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

#create-account {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why-create {
  display: flex;
  flex-direction: column;
}

button:hover {
  cursor: pointer;
}